
.section{
  padding: .5em;
  /* temp properties */
  min-height: 50vh;
  border: 1px solid grey;
}
.footer-content{
  padding: 1em;
}
.footer{
  min-height: 10vh;
  height: auto;
  background: lightgreen;
}
#menu-toggle{
  position: absolute;
  right: 1.3em;
}
.nav-item{
  padding: .1em .5em;
  display: hidden;
}
.nav-wrapper{
  z-index: 20;
  display: flex;
  flex-direction: column;
  background: salmon;
  height: 7vh;
  width: 100vw;
  position: fixed;
  align-items: center;
}
.nav-open{
  height: 13vh;
}
.nav-items-show{
  display: block;
}
.container{
  padding-top: 13vh;
}

h3{
  padding: .5em 0;
}
ul{
  list-style: none;
}

*{
  font-family: 'open sans';
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .nav-wrapper{
    display: flex;
    flex-direction: row;
  }
  #menu-toggle{
    display: none;
  }
  .container{
    display: flex;
    justify-content: space-around;
    padding-top: 13vh;
    flex-wrap: wrap;
  }
  .section-two{
    flex: 1;
  }
  .section-one{
    flex: 2;
  }
  .footer-left{
    border: 1px solid red;
    flex-basis: 30vw;
  }
  .footer-right{
    display: flex;
    flex-direction: column;
    flex-basis: 25vw;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
  }
  .footer-link-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  }
}
